.reservation-month-calendar {
    width: 200px;
    margin: 20px;
}

.reservation-drawer-container {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
}

.search-bar-full-width {
    width: 98%;
    margin: 30px 10px 10px 10px;
}