<div>
    <mat-form-field appearance="fill">
        <mat-label>Recherche</mat-label>
        <input matInput [(ngModel)]="searchTerm" />
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
</div>
<div>
    <mat-radio-group class="filter-product-radio-group" [(ngModel)]="filterProductSelected">
        <mat-radio-button class="filter-product-radio-button" *ngFor="let product of products" [value]="product">
            {{product}}
        </mat-radio-button>
    </mat-radio-group>
</div>
<!-- <div>
    <mat-form-field>
        <input matInput placeholder="Prix min" type="number" [(ngModel)]="priceMin">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Prix max" type="number" [(ngModel)]="priceMax">
    </mat-form-field>
</div> -->
<mat-divider class="filter-divider"></mat-divider>
<div class="filter-calendar-section">
    <mat-calendar [(selected)]="selected"></mat-calendar>
</div>