.filter-product-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.filter-product-radio-button {
    margin: 5px;
}

.filter-calendar-section {
    width: 250px;
}

.filter-divider {
    margin: 30px 0;
}