<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of listProducts">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <!-- name -->
                    <mat-card-title>{{product.name}}</mat-card-title>
                </mat-card-header>
                <!-- image of the product -->
                <img mat-card-image [src]="product.thumbnail" alt="Robe">
                <mat-card-content>
                    <!-- description of the product -->
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Réserver</button>
                    <button mat-button (click)="openProductDetailsDialog()">Détails</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>