<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Kaftan Ransy</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/img/robe_1.png" alt="Robe">
                <mat-card-content>
                    <p>
                        Kaftan en soie et broderie de perles et de sequins.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Réserver</button>
                    <button mat-button>Détails</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>